:root {
    --secondary: #BE0007;
    --primary: #00497F;
    --bg-white: #f4f3f2;
}

body {
    background-color: magenta;
    font-family: 'Open Sans';
    text-transform: uppercase;
    margin: 0px;
}

#container {
    margin: auto;
    width: 1200px;
    height: 120px;
    padding: 0px 0px 0px;
    display: flex;
}

#overlay {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: var(--bg-white);
    padding: 5px 30px 5px;
    background: rgb(0,73,127);
    background: linear-gradient(202deg, rgba(0,73,127,1) 0%, rgba(9,9,121,1) 51%, rgba(190,0,7,1) 100%);
    border-radius: 5px;
}

#lifter-infos {
    color: white;
    width: 40%;
}

#lift-infos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60%;
    height: 80%;
}

.elipses {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.title {
    font-size: 30px;
    text-transform: uppercase;
}

.subtitle {
    font-size: 15px;
    font-weight: light;
    text-transform: uppercase;
}

.box {
    background-color: var(--bg-white);
    border-radius: 5px;
    margin: 5px;
    padding: 6px 12px 6px;
}

#current-lift {
    display: flex;
    align-items: center;
    width: 55%;
    height: 100%;
}

.current-lift {
    font-size: x-large;
    font-weight: bold;
    color: black;
    height: 45%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#attempts {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
}

.attempt {
    width: 52px;
}

.attempt-success {
    background-color: green;
    color: white;
}

.attempt-fail {
    background-color: red;
    color: white
}

.attempt-ongoing {
    -webkit-box-shadow: inset 0px 0px 0px 2px white;
    -moz-box-shadow: inset 0px 0px 0px 2px white;
    box-shadow: inset 0px 0px 0px 2px white;
    background-color: var(--primary);
    color: white;
}

#logo {
    position: absolute;
    right: auto;
    height: 100px;
    opacity: 0.2;
}

#lifter-infos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

#lifter-name {
    display: flex;
    align-items: end;
}

.lifter-info {
    width: 100%;
    margin-bottom: 1px;
}

#current-lift {
    height: 100%;
    align-items: center;
    display: flex;
}

#best-lifts {
    display: flex;
    flex-direction: column;
    font-size: medium;
    width: 10%;
}

.best-lift-letter {
    font-weight: bold;
}

.best-lift-container {
    display: flex;
    justify-content: space-between;
    width: 75%;
}

.box.best-lift-container {
    padding: 2px 20px 2px;
    border-radius: 5px;
    margin-top: 2px;
    margin-bottom: 2px;
}

#subtotal-forecast {
    width: 23%;
}

.subtotal-forecast {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
    font-size: medium;
}

.box.subtotal-forecast {
    padding: 2px;
}

.subtotal-forecast-name {
    background-color: var(--primary);
    color: white;
    border-radius: 5px;
    padding: 3px 8px 3px;
    margin-right: 15px;
}